.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5rem;
  cursor: default;
}

.button span {
  margin: 0 0.25rem;
  font-size: 0.8rem;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
}