.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5rem;
  cursor: default;
}

.button:hover {
  color: inherit;
  background-color: inherit;
}

.button span {
  margin: 0 0.25rem;
  font-size: 0.8rem;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
}

@media screen and (max-width: 499px) {
  .button {
    padding: 0;
    border: none;
  }

  .button span {
    margin: 0 0.15rem;
  }
}
