.filter {
  flex-basis: calc(20% - 10px);
  margin-top: 2rem;
}

.card {
  overflow: hidden;
  padding: 0;
  margin-bottom: 1rem;
}

.filters {
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.select-filter {
  margin-bottom: 1rem;
}

.filters input {
  width: 1.25rem;
  height: 1.25rem;
}

.filter h3 {
  margin: 0;
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.9rem;
}

@media screen and (max-width: 999px) {
  .filters {
    height: 10rem;
  }
}
